<!DOCTYPE html>
<html>
<head>
    <title>StitchLog</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container">
        <h1>StitchLog</h1>
        <hr></hr>

        <nav class="icon-nav">
        <a href="/home" class="icon-button">
            <img src="/static/icons/home.png" alt="Home" class="nav-icon">
            <span class="nav-label">Home</span>
        </a>
        <a href="/projects" class="icon-button">
            <img src="/static/icons/projects.png" alt="Home" class="nav-icon">
            <span class="nav-label">Projects</span>
        </a>
        <a href="/stock" class="icon-button">
            <img src="/static/icons/stock.png" alt="Stock" class="nav-icon">
            <span class="nav-label">Stock</span>
        </a>
        <a href="/convert" class="icon-button">
            <img src="/static/icons/convert.png" alt="Convert" class="nav-icon">
            <span class="nav-label">Convert</span>
        </a>
        </nav>

        <hr></hr>

        {% block body %}
        <h3>Coming Soon</h3>
        {% endblock %}
    </div>
</body>
</html>
