{% extends 'home.html' %}

{% block body %}

<div class="project-header">
    <h2 id="projectName">PROJECT NAME</h2>

    <div id="project-page-buttons">
        <button class="icon-button" id="amendProject">
            <img src="/static/icons/amend.png" class="small-icon"/>
        </button>
    </div>
</div>
<div>
    <p>
        PROJECT DETAILS
    </p>

    <div class="progress-container">
        <div class="progress-bar" style="width:50%;"></div>
        <span>50%</span>
    </div>
</div>

<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th>Brand</th>
                <th>Number</th>
                <th>Available</th>
            </tr>
        </thead>
            <tbody id="project-floss-body">
        </tbody>
    </table>
</div>

<script>
const SCRIPT_ROOT = {{ request.script_root|tojson }};
const PROJECT_ID = {{ project_id|tojson }};
const PROJECT_NAME = {{ project_details[1]|tojson }};

const delete_project_url = `${SCRIPT_ROOT}/projects/${PROJECT_ID}/delete`;
const amend_project_url = `${SCRIPT_ROOT}/projects/${PROJECT_ID}/amend`;
const floss_list_url = `${SCRIPT_ROOT}/projects/${PROJECT_ID}/floss/list`;
</script>

<script type="module" src="{{ url_for('static', filename='js/project-page.js') }}"></script>

{% endblock %}