{% extends 'home.html' %}

<title>{{ project_name }}</title>

{% block body %}

<div class="project-summary-card">
    <h2>{{ data['project_name'] }}</h2>
    <p>
        You started this project on <strong>{{ data['project_date'] }}</strong>  
        and {{ 'worked' if data['project_prog'] == 100 else 'have been working' }} on it for <strong>{{ data['project_days'] }}</strong> day{{ 's' if data['project_days'] != 1 else '' }}.
    </p>

    <div class="progress-container">
        <div class="progress-bar" style="width: {{ data['project_prog'] }}%;"></div>
        <span>{{ data['project_prog'] }}%</span>
    </div>
</div>

<div class="table-wrapper">
    <table>
        <thead>
        <tr>
            <th>Brand</th>
            <th>Number</th>
            <th>Available</th>
        </tr>
        </thead>
        <tbody>
        {% for f in project_floss %}
            <tr>               
            <td>{{ f[0] }}</td>
            <td>{{ f[1] }}</td>
            <td style="color: {{ 'green' if f[2] else 'red' }}">
                {{ 'in stock' if f[2] else 'not in stock' }}
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


<div style="display: flex; justify-content: flex-end; gap: 10px;">
    <form method="POST">
        <button class="button" type="submit" name="button" value="amend-project">Update</button>
        <button class="button" type="submit" name="button" value="delete-project" id="button_delete">Delete</button>
    </form>
</div>

{% endblock %}