{% extends 'home.html' %}

<title>PROJECT NAME</title>

{% block body %}

<div class="project-header">
    <h2>PROJECT NAME</h2>

    <div id="project-page-buttons">
        <button class="icon-button">
            <img src="/static/icons/amend.png" class="small-icon"/>
        </button>
        <button class="icon-button" id="button_delete_project">
            <img src="/static/icons/delete.png" class="small-icon" />
        </button>
    </div>
</div>
<div>
    <p>
        PROJECT DETAILS
    </p>

    <div class="progress-container">
        <div class="progress-bar" style="width:50%;"></div>
        <span>50%</span>
    </div>
</div>

<div class="table-wrapper">
    <table>
        <thead>
        <tr>
            <th>Brand</th>
            <th>Number</th>
            <th>Available</th>
        </tr>
        </thead>
        <tbody id="project-floss-body">
        </tbody>
    </table>
</div>

<script>
const SCRIPT_ROOT = {{ request.script_root|tojson }};
const PROJECT_NAME = {{ project_name|tojson }};

const delete_project_url = `${SCRIPT_ROOT}/projects/${PROJECT_NAME}/delete`;
// const amend_project_url = `${SCRIPT_ROOT}/projects/${PROJECT_NAME}/amend`;
const add_floss_url = `${SCRIPT_ROOT}/projects/${PROJECT_NAME}/floss/add`;
const delete_floss_url = `${SCRIPT_ROOT}/projects/${PROJECT_NAME}/floss/delete`;
const extract_floss_url = `${SCRIPT_ROOT}/projects/${PROJECT_NAME}/floss/extract`;
const floss_list_url = `${SCRIPT_ROOT}/projects/${PROJECT_NAME}/floss/list`;
</script>

<script type="module" src="{{ url_for('static', filename='js/project_page.js') }}"></script>

{% endblock %}