{% extends 'home.html' %}

<title>Projects</title>

{% block body %}
    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th>Project</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
            </thead>
            <tbody>
                {% for p in projects_list %}
                    <tr>               
                    <td><a href="/projects/{{p[0]}}" id="project-page">{{ p[0] }}</a></td>
                    <td>{{ p[1] }}</td>
                    <td>{{ p[2] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="new-project">
        <a href="/projects/new" class="icon-button">
            <img src="/static/icons/new.png" alt="New Project" class="nav-icon">
        </a>
    </div>
{% endblock %}