{% extends 'home.html' %}

{% block body %}
    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th>Project</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody id="projects-table-body"></tbody>
        </table>
    </div>

    <div id="new-project">
        <button class="button" type="button" name="button" value="create" id="button-new">Create</button>
    </div>

<script>
const SCRIPT_ROOT = {{ request.script_root|tojson }};
const projects_list_url = `${SCRIPT_ROOT}/projects/list`;
const create_project_url = `${SCRIPT_ROOT}/projects/create`
</script>

<script type="module" src="{{ url_for('static', filename='js/project-list.js') }}"></script>

{% endblock %}