{% extends 'home.html' %}

{% block body %}

<div class="input-wrapper">
  <input type="text" id="floss" name="floss" placeholder="Enter floss" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
  <button class="button" type="button" name="button" value="add" id="button-add">Add</button>
</div>

<div id="error-message"></div>

<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th>Brand</th>
        <th>Number</th>
        <th style="width:25px;"></th>
      </tr>
    </thead>
    <tbody id="stock-table-body">
    </tbody>
  </table>
</div>

<script>
const SCRIPT_ROOT = {{ request.script_root|tojson }};
const add_url = `${SCRIPT_ROOT}/stock/add`;
const delete_url = `${SCRIPT_ROOT}/stock/delete`;
const list_url = `${SCRIPT_ROOT}/stock/list`;
</script>

<script type="module" src="{{ url_for('static', filename='js/stock.js') }}"></script>

{% endblock %}