@font-face {
    font-family: 'Mystery';
    src: url('/static/MysteryQuest-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("/static/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 30px;
    background-color: rgba(255, 255, 255);
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

/* Basic layout styling */
h1, h3 {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
  font-family: "Mystery", sans-serif;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #007bff;
}

nav a:hover {
    text-decoration: underline;
}

/* Form styling */
form {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 8px;
    width: 60%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    height: 5%;
}

a:link, a:visited {
  background-color: rgba(255, 38, 71, 0.3);
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: rgba(255, 38, 71, 0.6);
}

.button {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 15px;
  padding: 10px 10px;
  margin: 5px;
}

#button_add {
  background-color: mediumseagreen;
}

#button_delete{
  background-color: tomato;
}