{% extends 'home.html' %}

<title>Floss Conversion</title>

{% block body %}
    <div>
        <form method="POST">
            <input type="text" name="floss" placeholder="Enter name" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
            <button class="button" type="submit" name="button" value="convert" id="button_convert">Convert</button>
        </form>
    </div>

    <div>
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
    </div>

    <div>
        {% if rows %}
        <table>
            <thead>
                <tr>
                    <th>{{brand}}</th>
                    <th>{{converted_brand}}</th>
                    <th>Hex</th>
                    <th>Available</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td style="display: flex; align-items: center;">
                    <span style="color: black; flex: 1;">{{ row[2] }}</span>
                    <span style="width: 60px; height: 20px; background-color: #{{ row[2] }}; margin-left: 10px; border: 1px solid #ccc;"></span>
                    </td>
                    <td style="color: {{ 'green' if row[3] else 'red' }}">
                        {{ 'available' if row[3] else 'not available' }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>

{% endblock %}