<!DOCTYPE html>
<html>
<head>
    <title>StitchLog</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container">
        <h1>StitchLog</h1>
        <hr></hr>

        <nav class="icon-nav">
        <a href="/home" class="icon-button">
            <img src="/static/icons/home.png" alt="Home" class="nav-icon">
            <span class="nav-label">Home</span>
        </a>
        <a href="/stock" class="icon-button">
            <img src="/static/icons/stock.png" alt="Stock" class="nav-icon">
            <span class="nav-label">Stock</span>
        </a>
        <a href="/convert" class="icon-button">
            <img src="/static/icons/convert.png" alt="Convert" class="nav-icon">
            <span class="nav-label">Convert</span>
        </a>
        </nav>

        <hr></hr>

        {% block body %}
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>Project</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in projects_list %}
                        <tr>               
                        <td><a href="/home/{{p[0]}}" id="project-page">{{ p[0] }}</a></td>
                        <td>{{ p[1] }}</td>
                        <td>{{ p[2] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="new-project">
            <a href="/new-project" class="icon-button">
                <img src="/static/icons/new.png" alt="New Project" class="nav-icon">
            </a>
        </div>

        {% endblock %}
    </div>
</body>
</html>
