<!DOCTYPE html>
<html>
<head>
    <title>Floss Tracker</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container">
        <h1 style="font-size:3vw">Floss Tracker</h1>
        <hr style="width: 200px; margin: 0 auto 20px; border: 1px solid #ccc; border-radius: 2px;">

        <nav class="icon-nav">
        <a href="/home" class="icon-button">
            <img src="/static/icons/home.png" alt="Home" class="nav-icon">
            <span class="nav-label">Home</span>
        </a>
        <a href="/stock" class="icon-button">
            <img src="/static/icons/stock.png" alt="Stock" class="nav-icon">
            <span class="nav-label">Stock</span>
        </a>
        <a href="/convert" class="icon-button">
            <img src="/static/icons/convert.png" alt="Convert" class="nav-icon">
            <span class="nav-label">Convert</span>
        </a>
        </nav>

        {% block body %}
        <div>
            <h3 id="stock-count">Currently {{stock_count}} floss in stock!</h3>
        </div>

        {% endblock %}
    </div>
</body>
</html>
