{% extends 'home.html' %}

<title>Floss Stock</title>
{% block body %}

<div>
    <form method="POST">
        <input type="text" name="floss" placeholder="Enter name">
        <button class="button" type="submit" name="button" value="add" id="button_add">Add</button>
        <button class="button" type="submit" name="button" value="delete" id="button_delete">Delete</button>
    </form>
</div>

<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th>Brand</th>
        <th>Number</th>
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
        <tr>               
          <td>{{ row[0] }}</td>
          <td>{{ row[1] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}